<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP - Introducción a la Programación</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <nav class="bg-indigo-900 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-white text-xl font-bold hover:text-indigo-200" href="{% url 'index-page' %}">Proyecto TP</a>
            <button class="text-white md:hidden" onclick="toggleMenu()">
                <svg class="navbar-toggler hover:bg-indigo-200 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <div id="menu" class="hidden md:flex space-x-4">
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:text-indigo-200 md:inline md:mt-0 md:text-base md:bg-transparent md:rounded md:hover:text-indigo-200" href="{% url 'index-page' %}">Inicio</a>
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:text-indigo-200 md:inline md:mt-0 md:text-base md:bg-transparent md:rounded md:hover:text-indigo-200"  href="{% url 'home' %}">Galería</a>
                {% if request.user.is_authenticated %}
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:text-indigo-200 md:inline md:mt-0 md:text-base md:bg-transparent md:rounded md:hover:text-indigo-200"  href="{% url 'favoritos' %}">Favoritos</a>
                <!-- Agregamos la ruta para que el boton salir te saque de la sesion -->
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:text-red-700 hover:underline md:inline md:mt-0 md:text-base md:bg-transparent md:rounded md:hover:text-red-700 md:hover:underline"  href="{% url 'salir' %}">Salir</a>

                {% else %}
                <!-- Agregamos la ruta hacia la pagina de logueo en el boton iniciar sesion -->
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:text-indigo-200 md:inline md:mt-0 md:text-base md:bg-transparent md:rounded md:hover:text-indigo-200"  href="{% url 'login' %}">Iniciar sesión</a>

                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    {% include "footer.html" %}
</body>

<script>
    function toggleMenu() {
        const menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    }
</script>

</html>
