<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP - Introducción a la Programación</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-white text-lg font-bold" href="{% url 'index-page' %}">Proyecto TP</a>
            <button class="text-white md:hidden">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <div class="hidden md:flex space-x-4">
                <a class="text-white" href="{% url 'index-page' %}">Inicio</a>
                <a class="text-white font-bold" href="{% url 'home' %}">Galería</a>
                {% if request.user.is_authenticated %}
                <a class="text-white" href="{% url 'favoritos' %}">Favoritos</a>
                <a class="text-white" href="#">Salir</a>
                {% else %}
                <a class="text-white" href="#">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    {% include "footer.html" %}
</body>

</html>
